/* Custom Theme */
$color-brand: #28293d;
$color-brand-light: #FCFCFC;
$color-brand-dark: #202131;

/* Font Color */
$font-color: #EAEAEA;
$font-color-light: 404040;
@import "~taro-ui/dist/style/index.scss";
